*{
    margin:0;
    padding:0;
    text-align: center;
}

 h1{
    text-align: center;
    line-height: 5rem;
 }
  
 .choices{
    height:10rem;
    width:80rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
 }
 .choice{
    height: 10rem;
    width:10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    object-fit: cover;
 }
.choice:hover{
    opacity:0.5;
    cursor: pointer;
   
}
.img{
    height: 10rem;
    width:10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    object-fit: cover;
 }
 .score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top: 5rem;
 }
 #user-score,#comp-score{
   font-size: 3rem;
 }
 .score{
    font-size: 2rem;
 }
.msg-container{
    margin-top: 1rem;
}



 .msg{
    color: azure;
    background-color: black;
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    display: inline;
 }
